html, h4{
    color: #4D4D4D;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    overflow: hidden;
    flex: 1 0 auto;
    width: 70%;
}

.main-space{
    padding-top: 2%;
}

.space{
    margin: 2em;
}

.check-button{
    position: relative;
    left: 44%;
}

.logo{
    width: 1em;
    position: relative;
    top: 5px;
}

.container{
    overflow: hidden;
}

.atrasado{
    background-color: rgb(253, 227, 227);
}

td{
    border-top: solid #B3B3B3 1px;
    border-radius: none;
}

th{
    background-color: #F6F6F6;
    
}

.steper-label{
    font-size: 13px;
}

.line{
    position: absolute;
    top: 40%;
    width: 150px;
}

.link-table{
    color: #4db6ac;
}

.view-title{
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}